/* You can add global styles to this file, and also import other style files */
.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
body{
background: #1B213B;
}
#pieChart .axis-x-label {
  fill: rgb(255, 255, 255) !important; /* Change the color of x-axis labels to red */
}

#pieChart .axis-y-label {
   fill: rgb(255, 255, 255) !important;}





